h1 {
    font-size: 3em;
}

main {
    min-height: 100%;
}

h3 {
    font-size: 1.5em;
   
}

/* #searchBtn:hover {
    border: 3px solid rgba(81, 203, 238, 1);
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
} */

@media screen and (max-width: 768) {
    
    
}
@media screen and (max-width: 600) {
    
    
}